---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        yazi-version:
          - name: nightly
            method: cargo-install
            # renovate: datasource=git-refs packageName=https://github.com/sxyazi/yazi
            commit: faf33e1b03319820df696890d85e9dd1c8f084d7
          - name: stable
            method: download
            # renovate: datasource=github-releases depName=sxyazi/yazi
            version: v25.5.31

    name: "Test (yazi ${{ matrix.yazi-version.name }})"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install tools with UBI
        shell: bash
        run: |
          mkdir -p "$HOME/.local/bin"
          # make the tools available for subsequent steps
          echo "$(pwd)/bin" >> "$GITHUB_PATH"
          curl --silent --location \
              https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
              TARGET="$HOME/.local/bin" sh

          ubi --project mikefarah/yq

          VERSION=$(yq '.tools."ubi:BurntSushi/ripgrep".version' .mise.toml)
          ubi --project BurntSushi/ripgrep --tag "$VERSION" --exe rg

          VERSION=$(yq '.tools."ubi:junegunn/fzf"' .mise.toml)
          ubi --project junegunn/fzf --tag "v$VERSION"

          VERSION=$(yq '.tools."ubi:sharkdp/fd"' .mise.toml)
          ubi --project sharkdp/fd --tag "v$VERSION"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install the mold linker
        uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1

      - name: Compile and install `yazi-fm` from source
        if: matrix.yazi-version.method == 'cargo-install'
        uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
        with:
          # Due to Cargo's limitations, the `yazi-fm` and `yazi-cli` crates on
          # crates.io must be built with `cargo install --force yazi-build`
          # https://github.com/sxyazi/yazi/blob/2ec3a6c645324295331c0f2ef6d4d946cf11c06b/yazi-fm/build.rs?plain=1#L23-L25
          crate: yazi-build
          git: https://github.com/sxyazi/yazi
          commit: ${{ matrix.yazi-version.commit }}
          # tag: ${{ matrix.yazi-version.tag }}

      - name: Download prebuilt yazi version
        if: matrix.yazi-version.method == 'download'
        run: |
          ubi --project sxyazi/yazi --tag "${{ matrix.yazi-version.version }}" --extract-all
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Make sure yazi and ya are installed
        run: |
          echo "PATH:"
          echo "$PATH"

          yazi --version
          ya --version

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          # https://github.com/pnpm/action-setup?tab=readme-ov-file#use-cache-to-reduce-installation-time
          run_install: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: pnpm tui run

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
